<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="LogOn.aspx" name=".ASPXFORMSAUTH" defaultUrl="Index.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="ADMIN">
    <system.web>
      <authorization>
        <allow roles="ADMIN"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Publishers">
    <system.web>
      <authorization>
        <allow roles="PUBLISHER,ADMIN"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>